{% extends 'default/base_admin.html.twig' %}
{% block title %} Accueil - admin {% endblock %}
{% block body  %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    <section class="container-fluid">
        <h1 class="jumbotron text-center display-4 mt-3">Bienvenue dans notre bibliothèque{#{{ nomBiblio }#}</h1>

        <img src="https://blog.thebookedition.com/wp-content/uploads/2014/09/Bibliotheque_municipale_-_Grenoble-1024x768.jpg" alt="bibliotheque_grenoble" class="img-responsive" width="100%">




        <h2 class="mt-4 mb-4 display-4">Nos derniers Ouvrages disponible : </h2>
        <!-- affichage des 3 dernier ouvrage, photo couverture et titre (rien d'autre)-->

        <div class="container-fluid">
            <div class="row border">
                {% for lastOuvrage in lastOuvrages %}
                    <div class="col-md-4 card-deck">
                        <div class="card">
                            <img class="img-thumbnail img-responsive" src="{{ asset('uploads/pictures/' ~ lastOuvrage.picture) }}" alt="illustration couverture dernier ouvrage" height="auto" width="100%">
                            <div class="card-body">
                                <h4 class="">{{ lastOuvrage.title }}</h4>
                                <h5 class="">{{ lastOuvrage.author }}</h5>

                                <div class="btn-group">
                                    <a href="{{ path('admin_ouvrage_show',{id: lastOuvrage.id}) }}" class="btn btn-info">Plus d'information</a>
                                    {% if lastOuvrage.dateReservation == null %}
                                        <span class="btn btn-success disabled">disponible</span>
                                    {% else %}
                                        <span class="btn btn-danger disabled">indisponible</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}

            </div>
        </div>

        <h2 class="mt-4">Infos Bibliothèque :</h2>

        <div class="row m-4">
            <div class="col">
                <h3>Adresse : </h3>
                <p>16 rue Raoul Blanchard <br>
                    38000 GRENOBLE
                </p>
            </div>
            <div class="col">
                <h3>Contacts : </h3>
                <i class="fas fa-phone"></i> : 04 56 78 91 11 <br>
                <i class="fas fa-at"></i> : biblioProjet@gmail.com <br>
                ou <a href="{{ path('contact') }}" class="btn-inline">formulaire de contact en ligne</a>
            </div>
        </div>
    </section>

{% endblock %}