<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome admin!{% endblock %}</title>
    {% block stylesheets %}
        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
{% block body %}
    {% block header %}
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #AB47BC;">
                {#<a class="navbar-brand" href="#">Navbar</a>#}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="{#{{ path('lucky_home')}}#}"><i class="fas fa-home fa-lg"></i> Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('ouvrage_showAll')}}"><i class="fab fa-searchengin fa-lg"></i> Les ouvrages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('ouvrage_showAll')}}"><i class="fas fa-book fa-lg"></i> Gestion des ouvrages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_showAll')}}"><i class="fas fa-users fa-lg"></i> Gestion utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{#{{ path('number')}}#}"><i class="fas fa-user-circle fa-lg"></i> Mon profil</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-default my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </header>
    {% endblock %}



    <br>





    {% block footer %}

        {#    <footer class="pt-4" style="background-color: #AB47BC; color: #fff;">

                <div class="container-fluid text-center text-md-left">
                    <div class="row">

                        <div class="col-md-6">
                            <h5 class="text-uppercase">Mentions legales</h5>
                            <p>Infos sur l'hebergeur: <br>
                                nom: Hostinger <br>
                                adresse: Paris <br>
                                numero telephone:

                            </p>
                        </div>

                        <div class="col-md-6">
                            <h5 class="text-uppercase">Liens</h5>
                            <ul class="list-unstyled">
                                <li><a href="#">Contacter le créateur du site</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </footer>#}
    {% endblock %}

{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    {#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}
{% endblock %}
</body>
</html>
