{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
    {% block body %}
        {% block header %}
            {{ parent() }}
        {% endblock %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}


        <form action="{{ path('login') }}" method="post" class="container mt-4">
            <div class="form-group">
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="_password" class="form-control">
            </div>
            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}
            {#<input type="hidden" name="admin" value="/admin" />#}
            <button type="submit" class="btn btn-outline-success">connexion</button>
        </form>

        {% block footer %}
            <footer class="bg-dark text-light" style="position: absolute; bottom: 0px; width: 100%;">

                <div class="container-fluid text-center text-md-left">
                    <div class="row">

                        <div class="col-md-6">
                            <h5 class="text-uppercase">Mentions legales</h5>
                            <p>Infos sur l'hebergeur: <br>
                                nom: Hostinger <br>
                                adresse: Paris <br>
                                numero telephone:

                            </p>
                        </div>

                        <div class="col-md-6">
                            <h5 class="text-uppercase">Liens</h5>
                            <ul class="list-unstyled">
                                <li><a href="#">Contacter le créateur du site</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </footer>
        {% endblock %}

    {% endblock %}