{% extends "default/base_admin.html.twig" %}
{% block title %}
    Ajout d'un nouvel ouvrage
{% endblock %}
{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Ajout d'un nouvel ouvrage</h1>
        </div>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-group">
            <label for="">Illustration/couverture</label>
            {{ form_row(form.picture) }}
        </div>
        <div class="form-group">
            <label for="">Titre</label>
            {{ form_row(form.title) }}
        </div>
        <div class="form-group">
            <label for="">Sous Titre</label>
            {{ form_row(form.sub_title) }}
        </div>

        <div class="form-group">
            <label for="">Résumé</label>
            {{ form_row(form.resume) }}
        </div>
        <div class="form-group">
            <label for="">Auteur</label>
            {{ form_row(form.author) }}
        </div>
        <div class="form-group">
            <label for="">Editeur</label>
            {{ form_row(form.editor) }}
        </div>
        <div class="form-group">
            <label for="">Numero ISBN</label>
            {{ form_row(form.isbnumber) }}
        </div>
        <div class="form-group">
            <label for="">Classification Dewey</label>
            {{ form_row(form.dewey) }}
        </div>

        <button type="submit" class="btn btn-outline-success">Ajouter</button>
        {{ form_end(form) }}
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script src="//cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

        <script>CKEDITOR.replace('ouvrage_resume');</script>

    {% endblock %}
{% endblock %}