{% extends "default/base_admin.html.twig" %}
{% block title %}{{ ouvrage.title }}{% endblock %}
{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    <h1 class="text-center text-info font-weight-bold pt-3 pb-3">{{ ouvrage.title }}</h1>
    <section class="container">
        <div class="row">
            <div class="col-md col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('uploads/pictures/' ~ ouvrage.picture) }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ ouvrage.title }}</h5>
                        <p class="card-text">{{ ouvrage.subtitle }}</p>
                        <div class="btn-group">
                            {% if ouvrage.dateReservation == null %}
                                <a href="{{ path('ouvrage_reservation',{id: ouvrage.id}) }}" class="btn btn-primary">Réserver l'ouvrage</a>
                                <span class="btn btn-success disabled">disponible</span>
                            {% else %}
                                <a class="btn btn-primary disabled">Réserver l'ouvrage</a>
                                <span class="btn btn-danger disabled">indisponible</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md col-lg-8">
                <h3><b class="font-weight-bold">Résumé :</b></h3>
                <p class="text-justify">{% autoescape %}
                        {{ ouvrage.resume |raw }} {# var won't be escaped #}
                    {% endautoescape %}</p>
                <div class="info mb-2">
                    <ul class="list-group">
                        <li class="list-group-item"><b class="font-weight-bold">Auteur :</b>  {{ ouvrage.author }}</li>
                        <li class="list-group-item"> <b class="font-weight-bold">Editeur :</b> {{ ouvrage.editor }}</li>
                        <li class="list-group-item"><b class="font-weight-bold">Numero isbn :</b> {{ ouvrage.ISBNumber }}</li>
                        <li class="list-group-item"><b class="font-weight-bold">Classification dewey :</b> {{ ouvrage.dewey[0] }} </li>
                    </ul>
                </div>

            </div>
        </div>
        <h3 class="mt-4">Avis des lecteurs :</h3>
        <div class="row mt-3 mb-3">

            <div class="col">
                <button class="btn btn-primary mb-4" id="btnAddComment">donnez votre avis</button>
            </div>

            {{ include("ouvrage/add_comment.html.twig") }}
        </div>
        <div class="row mb-2">
            <div class="col">
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th class="text-center border-right">Pseudo</th>
                        <th class="text-center">Commentaire</th>
                        <th>#</th>
                    </tr>
                    </thead>
                    {% for comment in comments %}
                    <tr>
                        {% if comment.nameUser.roles[0] == 'ROLE_ADMIN' %}
                            <td class="align-middle text-primary font-weight-bold text-center border-right">{{ comment.nameUser.userName }} </td>
                        {% else %}
                            <td class="align-middle text-center border-right">{{ comment.nameUser.userName }} </td>
                        {% endif %}
                        <td class="text-justify">{{ comment.content|raw }} <span class="small">Posté le {{ comment.date|date("d/m/Y à H:i:s") }}</span></td>
                        <td class="align-middle"><a href="{{ path('comment_delete',{id: comment.id}) }}" class="btn btn-danger "><i class="fas fa-trash"></i></a></td>
                    <tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#addComment').hide();
        $('#btnAddComment').on('click', function () {
            $('#addComment').toggle();
        });
    </script>
    <script src="//cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

    <script>CKEDITOR.replace('comment_content');</script>
{% endblock %}
