{% extends "default/base_admin.html.twig" %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    <h1 class="text-center pt-3 pb-3">{{ ouvrage.title }}</h1>
    <section class="container">
        <div class="row">
            <div class="col-md col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('uploads/pictures/' ~ ouvrage.picture) }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ ouvrage.title }}</h5>
                        <p class="card-text">{{ ouvrage.subtitle }}</p>
                        <div class="btn-group">
                            {% if ouvrage.dateReservation == null %}
                                <a href="{{ path('ouvrage_reservation',{id: ouvrage.id}) }}" class="btn btn-primary">Réserver l'ouvrage</a>
                                <span class="btn btn-success disabled">disponible</span>
                            {% else %}
                                <a class="btn btn-primary disabled">Réserver l'ouvrage</a>
                                <span class="btn btn-danger disabled">indisponible</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md col-lg-8">
                <h2>Catégorie: {{ ouvrage.genre }}</h2>
                <h3>Résumé :</h3>
                <p class="text-justify">{% autoescape %}
                        {{ ouvrage.resume |raw }} {# var won't be escaped #}
                    {% endautoescape %}</p>
                <div class="info mb-2">
                    <ul class="list-group">
                        <li class="list-group-item">Auteur :  {{ ouvrage.author }}</li>
                        <li class="list-group-item"> Editeur : {{ ouvrage.editor }}</li>
                        <li class="list-group-item">Numero isbn: {{ ouvrage.ISBNumber }}</li>
                        <li class="list-group-item">Classification : {{ ouvrage.dewey }} </li>
                    </ul>
                </div>
                <h3>Avis des lecteurs :</h3>
                <div class="" style="background-color: orange;"><!--
   --><a href="#5" title="Donner 5 étoiles">☆</a><!--
   --><a href="#4" title="Donner 4 étoiles">☆</a><!--
   --><a href="#3" title="Donner 3 étoiles">☆</a><!--
   --><a href="#2" title="Donner 2 étoiles">☆</a><!--
   --><a href="#1" title="Donner 1 étoile">☆</a>
                </div>
                <span>nombres de votes : </span>
            </div>

        </div>
        <div class="row mt-3 mb-3">
            <div class="col">
                <button class="btn btn-primary mb-4" id="btnAddComment">donnez votre avis</button>
            </div>

            {{ include("ouvrage/add_comment.html.twig") }}
        </div>
        <div class="row mb-2">
            <div class="col">
                <table class="table">
                    <tr>
                        <th class="text-center border-right">Pseudo</th>
                        <th class="text-center">Commentaire</th>
                    </tr>
                    {% for comment in comments %}
                    <tr>
                        <td class="align-middle text-center border-right">{{ comment.nameUser.userName }}</td>
                        <td class="text-justify">{{ comment.content|raw }} Posté le {{ comment.date|date("d/m/Y à H:i:s") }}</td>
                    <tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#addComment').hide();
        $('#btnAddComment').on('click', function () {
            $('#addComment').toggle();
        });
    </script>
    <script src="//cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

    <script>CKEDITOR.replace('comment_content');</script>
{% endblock %}
