{% extends "default/base_admin.html.twig" %}

{% block body %}

    {% block header %}
        {{ parent() }}
    {% endblock %}

    <div class="container">
        <h1 class="text-center">Nos ouvrages</h1>
        <div class="card-deck">
            {% for ouvrage in ouvrages %}
                {#<div class="row">#}
                {#<div class="col-lg-1">#}
                <div class="card mb-4 " style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('uploads/pictures/' ~ ouvrage.picture) }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ ouvrage.title }}</h5>
                        <div class="btn-group">
                            <a href="{{ path('admin_ouvrage_show',{id: ouvrage.id}) }}" class="btn btn-primary">Plus d'information</a>
                            {% if ouvrage.dateReservation == null %}
                                <span class="btn btn-success disabled">disponible</span>
                            {% else %}
                                <span class="btn btn-danger disabled">indisponible</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {#</div>#}
                {#</div>#}
            {% endfor %}
        </div>
        <nav aria-label="Page navigation example" class="center">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Précédent</a></li>
                <li class="page-itemactive"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">Suivant</a></li>
            </ul>
        </nav>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}