{% extends "default/base_admin.html.twig" %}
{% block title %}
    Reservations / Emprunts en cours
{% endblock %}
{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    <div class="jumbotron">
        <h1 class="display-4">Reservations / Emprunts en cours</h1>
    </div>
    <div class="container-fluid">

        <div class="row">

            <div class="col">
                <h2>Reservations</h2>
                <table class="table">
                    <tr>
                        <th>Noms client</th>
                        <th>Nom ouvrage</th>
                        <th>Date de réservation</th>
                        <th>#</th>
                    </tr>
                    {% for ouvrage in ouvrages %}
                        {% if ouvrage.user != null and ouvrage.status == 'reservation' %}
                            <tr>
                                <td>{{ ouvrage.user.username }}</td>
                                <td>{{ ouvrage.title }}</td>
                                <td>{{ ouvrage.dateReservation|date('d/m/Y à H:i') }}</td>
                                <td><a href="{{ path('ouvrage_emprunt', {id: ouvrage.id}) }}"><button type="button" class="btn btn-primary">Emprunter</button></a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div class="col">
                <h2>Emprunts</h2>
                <table class="table">
                    <tr>
                        <th>Noms client</th>
                        <th>Nom ouvrage</th>
                        <th>Date d'emprunt</th>
                        <th>#</th>
                    </tr>
                    {% for ouvrage in ouvrages %}
                        {% if ouvrage.user != null and ouvrage.status == 'emprunt' %}
                            <tr>
                                <td>{{ ouvrage.user.username }}</td>
                                <td>{{ ouvrage.title }}</td>
                                <td>{{ ouvrage.dateReservation|date('d/m/Y à H:i') }}</td>
                                <td><a href="{{ path('cancel_manual_rent', {id: ouvrage.id}) }}"><button type="button" class="btn btn-danger">Retour</button></a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>

        </div>

    </div>


{% endblock %}