{% extends 'default/base_admin.html.twig' %}

{% block title %}
    Gestion des ouvrages
{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
<h1 class="jumbotron container display-4 mt-4"><i class="fas fa-book" ></i> Gestion des ouvrages <a href="{{ path('ouvrage_add') }}" type="button" class="btn btn-success">Ajouter un ouvrage</a>
    <a href="{{ path('ouvrage_showAllReservation') }}" type="button" class="btn btn-info">Afficher réservations et emprunts</a>
</h1>

    <table class="table table-striped">
        <tr>
            <th>Nom ouvrage</th>
            <th class="text-center">Action</th>
        </tr>
        {% for ouv in ouvrage | reverse %}
            <tr>
                <td><a href="{{ path('admin_ouvrage_show', {id : ouv.id}) }}" class="btn btn-link">{{ ouv.title }}</a></td>
                <td class="text-center"><a href="{{ path('ouvrage_edit', {id : ouv.id}) }}" type="button" class="btn btn-warning">Modifier</a> ou <a href="{{ path('ouvrage_delete', {id : ouv.id}) }}" type="button" class="btn btn-danger">Supprimer</a>
                   ou <a href="{{ path('ouvrage_emprunt', {id : ouv.id}) }}" type="button" class="btn btn-primary">Emprunter</a>
                </td>
            </tr>
        {% endfor %}
    </table>







{% endblock %}