{% extends "base.html.twig" %}

{% block body %}

    {% block header %}
        {{ parent() }}
    {% endblock %}

    <div class="container">
        <h1 class="text-center">Nos ouvrages</h1>
        <div class="card-deck">
            {% for ouvrage in ouvrages %}
                {#<div class="row">#}
                {#<div class="col-lg-1">#}
                <div class="card mb-4 " style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('uploads/pictures/' ~ ouvrage.picture) }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ ouvrage.title }}</h5>
                        <div class="btn-group">
                            <a href="{{ path('ouvrage_show',{id: ouvrage.id}) }}" class="btn btn-primary">Plus d'information</a>
                            {% if is_granted('ROLE_USER') %}
                                {% if ouvrage.dateReservation == null %}
                                    <span class="btn btn-success disabled">disponible</span>
                                {% else %}
                                    <span class="btn btn-danger disabled">indisponible</span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {#</div>#}
                {#</div>#}
            {% endfor %}
        </div>
    </div>

    {% block footer %}
        <br><br><br><br><br><br>

        {{ parent() }}
    {% endblock %}

{% endblock %}