{% extends 'default/base_admin.html.twig' %}
{% block title %}Mise à jour de mon compte{% endblock %}
{%  block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    <h1 class="jumbotron container mt-4">Mise à jour de mon compte</h1>
    <div class="container">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-group">
            <label for="">Mon Nom</label>
            {{ form_row(form.username) }}
        </div>
        <div class="form-group">
            <label for="">Mon email</label>
            {{ form_row(form.email) }}
        </div>

        <div class="form-group">
            <label for="oldpassword">Mon ancien mots de passe</label>
            {{ form_row(form.oldPassword) }}
        </div>
        <div class="form-group">
            <label for="">Mon nouveau mdp</label>
            {{ form_row(form.password) }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-warning">Modifier</button>
        </div>
        {{ form_end(form) }}
    </div>

    <ul class="group-list">
        {% for ouv in ouvrage %}
            <li class="list-item"> {{ ouv.title }} </li>
        {% endfor %}
    </ul>


{% endblock %}