{% extends 'base.html.twig' %}
{% block title %}Mise à jour de mon compte{% endblock %}
{%  block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    <h1 class="jumbotron display-4 container mt-4">Mise à jour de mon compte</h1>
    <div class="container">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-group">
            <label for="user_profil_username">Mon Nom</label>
            {{ form_row(form.username) }}
        </div>
        <div class="form-group">
            <label for="user_profil_email">Mon email</label>
            {{ form_row(form.email) }}
        </div>

        <div class="form-group">
            <label for="user_profil_password">Mon mot de passe actuel ou un nouveau</label>
            {{ form_row(form.password) }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-warning">Modifier</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}