{% extends 'default/base_admin.html.twig' %}
{% block title %}Mise a jour de l'utilisateur{% endblock %}
{%  block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    <h1 class="jumbotron container mt-4">Mise à jour de l'utilisateur {{ user.username }}</h1>
    <div class="container">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-group">
            <div class="bmd-label-floating">
                {{ form_label(form.username) }}
            </div>
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="">Votre email</label>
            {{ form_row(form.email) }}
        </div>
        <div class="form-group">
           {{ form_row(form.roles) }}
       </div>
        <div class="form-group">
           {{ form_row(form.isActive) }}
       </div>
        <div class="form-group">
              {{ form_row(form.Password.first, {'value': user.Password}) }}
       {{ form_row(form.Password.second) }}
       </div>
        <button type="submit" class="btn btn-outline-warning">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}