{% extends 'base.html.twig' %}
{% block title %}
    Mon Profil
{% endblock %}
{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    <div class="container mt-4">
        <h1>Information sur mon Profil</h1>
        {#variable twig pour récupérer info utilisateur#}
        <ul class="list-group">
            <li class="list-group-item">Pseudo : {{myProfil.username}}</li>
            <li class="list-group-item">Email : {{ myProfil.email }}</li>
        </ul>

        <div class="mt-4 text-center">
            <a href="{{ path('user_profil_edit', {id: myProfil.id}) }}"><button type="button" class="btn btn-warning">Modifier mon Profil <i class="fas fa-sync"></i></button></a>
            <p class="alert alert-info mt-1">
                Si vous souhaitez supprimer votre compte, veuillez prendre contact avec la bibliothèque
            </p>
        </div>

        <table class="table mt-4">
            <thead class="thead">
            <tr>
                <th>Ouvrage(s) réservé(s)</th>
                <th>réservé le :</th>
                <th>à récupèrer au plus tard le :</th>
                <th>Action</th>
                <th>#</th>
            </tr>
            </thead>
            {% for ouvrage in ouvrages %}
            <tr>
                <td>{{ ouvrage.title }}| numéro ISBN :  {{ ouvrage.isbnumber }}</td>
                <td>{{ ouvrage.dateReservation|date('d/m/Y à H:i') }}</td>
                <td>{{ ouvrage.dateReservation|date_modify("+12 hours")|date('d/m/Y à H:i') }}</td>
                <td><a href="{{ path('cancel_manual_reservation', {id: ouvrage.id}) }}"><button type="button" class="btn btn-danger">Annuler</button></a></td>
            </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}
