{% extends 'default/base_admin.html.twig' %}
{% block title %}
    Mon Profil
{% endblock %}
{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    <div class="container mt-4">
        <h1>Information sur mon Profil</h1>
        {#variable twig pour récupérer info utilisateur#}
        <ul class="list-group">
            <li class="list-group-item">Pseudo : {{myProfil.username}}</li>
            <li class="list-group-item">Email : {{ myProfil.email }}</li>
            <li class="list-group-item">Password : {{ myProfil.password }}{#{{ user.password }}#}</li>
        </ul>

        <div class="mt-4 text-center">
            <a href="{#{{ path('user_edit', {id: user.id}) }}#}"><button type="button" class="btn btn-warning">Modifier mon Profil <i class="fas fa-sync"></i></button></a>
            <p class="alert alert-info mt-1">
                Si vous souhaitez supprimer votre compte, veuillez prendre contact avec la bibliothèque
            </p>
        </div>

        <table class="table mt-4">
            <thead class="thead">
            <tr>
                <th>Ouvrage emprunté</th>
                <th>A rendre avant le </th>
                <th>Rendu le</th>
                <th>#</th>
            </tr>
            </thead>
            {#{% for ouvrage in ouvrages  %}#}
            <tr>
                <td><a href="{#{{ path('ouvrage_show'), {id : 'ouvrage.id' }}#}">{#{{ ouvrage.name }}#}</a></td>
                <td>{#{{ ouvrage.dateMax }}#}</td>
                <td>{#{{ ouvrage.date }}#}</td>
                <td></td>
            </tr>
            {# {% endfor %}#}

        </table>
    </div>
{% endblock %}
