{% extends 'default/base_admin.html.twig' %}

{% block title %}
    Information sur {{ user.username }}
{% endblock %}

{% block body %}

    {% block header %}
        {{ parent() }}
    {% endblock %}
    <div class="container mt-4">
        <h1 class="mb-4 display-4">Informations sur <span class="text-info font-weight-bold">{{ user.username }}</span></h1>
        {#variable twig pour récupérer info utilisateur#}
        <ul class="list-group">
            <li class="list-group-item"><b>Pseudo :</b> {{ user.username }}</li>
            <li class="list-group-item"><b>Email :</b> {{ user.email }}</li>
            <li class="list-group-item"><b>Rôle : </b>{{ user.roles[0] }}</li>
        </ul>

        <div class="mt-4 text-center">
            <a href="{{ path('user_edit', {id: user.id}) }}"><button type="button" class="btn btn-warning">Modifier <i class="fas fa-sync"></i></button></a>
            <a href="{{ path('user_delete', {id : user.id}) }}"><button type="button" class="btn btn-danger">Supprimer <i class="far fa-trash-alt"></i></button></a>
        </div>
    </div>
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col">
                <table class="table mt-4">

                    <thead class="thead">
                    <tr>
                        <th>Ouvrage(s)</th>
                        <th>réservé le :</th>
                        <th>à récupèrer avant le :</th>
                        <th>#</th>
                    </tr>
                    </thead>
                    {% for ouvrage in ouvrages %}
                        <h2>Mes réservations</h2>
                        {% if ouvrage.status == "reservation" %}
                            <tr>
                                <td>{{ ouvrage.title }}| numéro ISBN :  {{ ouvrage.author }}</td>
                                <td>{{ ouvrage.dateReservation|date('d/m/Y à H:i') }}</td>
                                <td>{{ ouvrage.dateReservation|date_modify("+12 hours")|date('d/m/Y à H:i') }}</td>
                                <td><a href="{{ path('cancel_manual_reservation', {id: ouvrage.id}) }}"><button type="button" class="btn btn-danger">Annuler</button></a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                </table>
            </div>
            <div class="col">
                <table class="table mt-4">

                    <thead class="thead">
                    <tr>
                        <th>Ouvrage(s)</th>
                        <th>emprunté le :</th>
                        <th>à rendre avant le :</th>
                        <th>#</th>
                    </tr>
                    </thead>
                    {% for ouvrage in ouvrages %}
                        <h2>Mes emprunts</h2>
                        {% if ouvrage.status == "emprunt" %}
                            <tr>
                                <td>{{ ouvrage.title }} # auteur :   {{ ouvrage.author }}</td>
                                <td>{{ ouvrage.dateReservation|date('d/m/Y à H:i') }}</td>
                                <td>{{ ouvrage.dateReservation|date_modify("+1 month")|date('d/m/Y') }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                </table>
            </div>

        </div>

    </div>


{% endblock %}