{% extends 'default/base_admin.html.twig' %}

{% block title %}Gestion des utilisateur{% endblock %}
{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
<h1 class="jumbotron display-4 container mt-4">Gestion des utilisateurs  <a href="{{ path('user_add') }}" type="button" class="btn btn-success ml-4">Créer un nouvel utilisateur</a></h1>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Pseudo utilisateur</th>
        </tr>

        </thead>

        {% for user in users | reverse %}
        <tr>
            {% if user.roles[0] == 'ROLE_ADMIN' %}
            <td><a href="{{ path('user_show',{id : user.id}) }}" class="btn btn-link text-info font-weight-bold">{{ user.username }}</a></td>
            {% else %}
                <td><a href="{{ path('user_show',{id : user.id}) }}" class="btn btn-link">{{ user.username }}</a></td>
            {% endif %}
        </tr>
        {%  else %}
            Aucun utilisateur trouvé
        {% endfor %}
    </table>
</div>

{% endblock %}